include ../../components/header/header.pug
main
  .feedback-card
    .feedback-container
      h1= title
    each feedback in configFeedbackTextArea
      .feedback-textArea
        .feedback-titleArea
          h2.textAreaTitle= feedback.textAreaTitle
          span.feedbackDate= feedback.feedbackDate
        .feedback-bodyArea
          p.textAreaBody(data-body=feedback.textAreaBody)= feedback.textAreaBody
        .feedback-icons-area
          img.editIcon.icon.clickable(src=feedback.editIcon, alt="Edit Icon")
          img.okIcon.icon.clickable(src=feedback.okIcon, alt="Ok Icon")
          .tooltip-wrapper
            img.feedbackId.icon.clickable(
              src=feedback.infoIcon,
              alt="info Icon",
              data-tooltip=feedback.id
            )
            span.tooltip-text= feedback.id
script
  include index.js
