include ../../components/header/header.pug
main
  section.container
    h1.title= title
    p.paragraph= description
    input#interviewName.rounded-input(
      type="text",
      name="interviewName",
      value=interviewName
    )
    br
    a.btn(href=nextPage, style="color: white")= button

  section.container
    img.img-background(src=imageUrl, alt=title)

script
  include index.js
