include ../../components/header/header.pug
main
  .recommendation-container
    .recommendation-bodyArea
      h2.textAreaTitle= title
      p.textAreaBody!= pBodyContent
    .recommendation-card-container
      #recommendation-cards-container.recommendation-cards
  button#select-button.hidden= buttonText
script.
  const starIcon = "#{starIcon}";
  const spanInfo = "#{spanInfo}";
script
  include index.js
