include ../../components/header/header.pug
main
  #consent-terms.consent-terms
    .consent-content
      h2= title
      p!= content
      each term, index in termCheckFields
        .consent-option
          input.accept-input(
            type="checkbox",
            id=`acceptConsent_${term.id}`,
            class=index === termCheckFields.length - 1 && "lastCheckbox"
          )
          label.accept-label(for=`acceptConsent_${term.id}`)!= term.label
          br
      button#acceptButton.accept-button-inicial-state(disabled) ACEITAR
  script.
    const config = {
      nextPage: "#{nextPage}",
      saleId: "#{saleId}",
    };
  script
    include index.js
