include ../../components/header/header.pug
main.showCards
  section.head-container
    h1.title= configInterviewQuestionnaire.title
    p.content!= configInterviewQuestionnaire.description
    hr
  .container-questionnaire
    each questionnaire in listQuestionnaire
      a(href=`/interview/${questionnaire.id}`)
        .questionnaire-container
          if questionnaire.ConfigQuestionnaire.ConfigurableItem.imageUrl
            img.questionnaire-image(
              src=questionnaire.ConfigQuestionnaire.ConfigurableItem.imageUrl,
              alt=questionnaire.ConfigQuestionnaire.ConfigurableItem.title
            )
          .questionnaire-title= questionnaire.ConfigQuestionnaire.ConfigurableItem.title
          .questionnaire-description!= questionnaire.ConfigQuestionnaire.ConfigurableItem.description
