include ../../components/header/header.pug
main
  .login-container
    .login-card
      h2= formTitle
      form#loginForm
        .input-group
          label(for="email")= emailField.label
          input#email(
            type="email",
            name="email",
            required,
            placeholder=emailField.placeholder
          )
        .input-group
          label(for="password")= passwordField.label
          input#password(
            type="password",
            name="password",
            required,
            placeholder=passwordField.placeholder
          )
        .button-group
          button(type="submit")= buttonText
  script
    include index.js
